body {
    font-family: 'Poppins', sans-serif!important;
    margin: 0;
    background-color: #FFFFFF;
}

.airbuds-img {
    height: 450px;
    width: 100%;
    /* background-image: url("../images/product.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    text-align: center;
    font-size: 18pt;
    font-weight: 700;
    color: #1d2733;
    align-items: center;
    padding-top: 20px;
}

.card-heading {
    text-align: center;
    font-size: 24pt;
    font-weight: 700;
    color: #1d2733;
    margin-bottom: 0px;
}

.card-info {
    text-align: left;
    padding: 15px 20px;
    position: relative;
    top: 0px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    filter: drop-shadow(0px 30px 20pt);
}

.grid-container-2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 60% 40%;
}

.lead {
    font-size: 16px;
    font-weight: 700;
    color: #000
}

.selection-bg {
    height: 110px;
    width: 100%;
    border-radius: 10pt;
    object-fit: cover;
}

.selection {
    position: relative;
}

.price-tag {
    color: #1E98D5;
    font-size: 20pt;
    margin-bottom: 0px !important;
}

.quantity {
    display: flex;
    padding: 32px 0px;
    justify-content: flex-end;
}

.quantity__minus,
.quantity__plus {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    background: #f9f9f7;
    text-decoration: none;
    text-align: center;
    line-height: 28px;
    border-radius: 10px;
}

.quantity__minus:hover,
.quantity__plus:hover {
    background: #f9f9f7;
    color: #2D2D2F;
}

.quantity__minus {
    border-radius: 6px;
}

.quantity__plus {
    border-radius: 6px;
}

.quantity__input {
    width: 32px;
    height: 28px;
    font-size: 16pt;
    font-weight: 700;
    text-align: center;
    border-style: none;
    border-color: none;
    color: #2D2D2F;
}

.quantity__minus:link,
.quantity__plus:link {
    color: #8184a1;
}

.quantity__minus:visited,
.quantity__plus:visited {
    color: #fff;
}

.quantity>a>span {
    font-size: 24px;
    font-weight: 600;
    color: #999b9f;
}

.small-txt {
    color: #00C569;
    font-size: 9pt;
}

.select-txt {
    font-size: 14pt;
    font-weight: 600;
}

.dot1 {
    height: 30pt;
    width: 30pt;
    left: 20px;
    color: white;
    border-style: solid;
    background-color: red;
    border-radius: 50%;
    border-color: #1d2733;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    position: absolute;
}

.dot2 {
    height: 30pt;
    width: 30pt;
    color: #1d2733;
    left: 60px;
    border-style: solid;
    background-color: white;
    border-radius: 50%;
    border-color: #1d2733;
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    line-height: 38px;
    position: absolute
}

.dot3 {
    height: 30pt;
    width: 30pt;
    color: white;
    left: 120px;
    border-style: solid;
    background-color: #363636;
    border-radius: 50%;
    border-color: #1d2733;
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    line-height: 38px;
    position: absolute
}

.description {
    color: #999B9F;
    font-size: 12pt;
    font-weight: 400;
    line-height: 22px;
}

.pre-order-btn {
    margin-top: 10px;
    background-image: linear-gradient(261deg, #3BB5F2, #1B89BF);
    color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
    outline: none;
    width: 100%;
}

button {
    border-style: none;
    border-color: none;
}

.error-div {
    display: none;
    color: red;
    font-size: 12pt;
    font-weight: 700;
    line-height: 22px;
    position: relative;
    top: 50px;
}


/* slider */

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a #1d2733 background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

strong {
    color: #000;
}

@media only screen and (min-height: 800px) {
    .mySlides {
        height: 45vh !important;
    }
}

@media only screen and (min-height:600px) {
    .mySlides {
        height: 52vh;
    }
}

@media only screen and (min-height: 900px) {
    .mySlides {
        height: 60vh !important;
    }
}

.free-description {
    color: #999B9F;
    font-size: 12pt;
    font-weight: 400;
    line-height: 22px;
    padding-top: 65px;
}

.text-left {
    text-align: left;
}